@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.Landing-content {
  margin-top: 10vh;
}

.Landing-content h2 {

  color: #fff;
  font-size: 7em;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translate(50%, -100%);

}

.Landing-content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #00ADB5;
}

.Landing-content h2:nth-child(2) {
  color: #00ADB5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

.Landing-main {
  height: 100vh;
}

.Landing-header {

  font-family: 'Montserrat', sans-serif;

}

.Landing-sh2 {
  color: #018e95;
}

.Landing-left {
  padding-bottom: 5vh;
  padding-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  /* background-color: #222831; */
  color: #EEEEEE;
  text-align: center;

}

.Landing-buttons h5 {
  font-weight: bold;
}

.Landing-buttons input {
  opacity: 0.9;
  width: 150px;
  height: 40px;
  background-color: #222831;
  color: #EEEEEE;
  border: #EEEEEE solid 1px;
  border-radius: 10px;
  margin: 15px;
  margin-left: 20px;
  font-weight: bold;
}

.Landing-buttons input:hover {
  background-color: #393E46;
  color: #00ADB5;
  border: #EEEEEE solid 1px;
  border-radius: 15px;
}

.Landing-mid {

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #EEEEEE;
}

.Landing-what img {
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

.Landing-what {
  margin: 20px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: large;
}

.Landing-what p {
  text-align: justify;
  padding: 20px;

}

.Landing-cards {
  padding-top: 2rem;
  background: #eee;

}

.Landing-card {
  background-color: #EEEEEE;
  padding: 10px;
  text-align: center;
  border: 1px solid #222831;
  border-radius: 20px;
}

/******************************************************/




.container .card {
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  background-color: #222831;
}

.container .card:hover {
  height: 450px;
}

.container .card .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px;
  }
}