.approveByEmail-main{
    padding:2rem;
    width: 100%;
}
.searchByEmail{
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    width: 80%
}
.approvebyemail-found{
    text-align: center;
        
}