.mytasks-main {
    display: grid;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    grid-template-columns:  4% 17% 69%;
    grid-gap: 2%;
    /* margin-left:7.7rem; */
}

.addtask-container {
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.mytasks-right {
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 10px;
    padding-top:1rem;
}

.mytasks-right h1 {
    text-align: center;

}

.addtask-button {
    width: 150px;
    height: 40px;
    background-color: #222831;
    color: #EEEEEE;
    border: #EEEEEE solid 1px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 20px;
    font-weight: bold;
}

.addtask-button:hover {
    background-color: #393E46;
    color: #00ADB5;
    border: #EEEEEE solid 1px;
    border-radius: 15px;
}