.mytasks-main {
    display: grid;
    width: 95%;
    margin: auto;
    /* height: 100vh; */
    margin-top: 1rem;
    grid-template-columns: 15% 70%;
    grid-gap: 3rem;
}

.addtask-container {
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.mytasks-right {
    border: 1px rgb(147, 147, 147) solid;
    border-radius: 10px;
    
    padding: 10px;
}
.mytasks-right h1{
    text-align: center;
    
}
