.MBtask-task-main {
    
    border-left: #393E46 5px solid;
    margin-bottom:4rem;
    
}

.MBtask-task {
    padding: 1rem;
    text-align: justify;
    padding-left: 1rem;
}

.MBtask-required-skills span {
    opacity: 0.7;
    background-color: #393E46;
    color: #fff;
    margin-right: 0.5rem;
    padding: 1px 10px;
    border-radius: 20px;
}
