.mytasks-task{
    margin:1rem;
    text-align: justify;   
    border-left:#393E46 5px solid;
    padding-left: 1rem;
}

.required-skills span{
    opacity: 0.7;
    background-color: #393E46;
    color:#fff;
    margin-right: 0.5rem;
    padding:1px 10px;
    border-radius: 20px;
}

.deleteTask{
    /* width: 150px; */
    height: 40px;
    background-color: #c30000;
    color: #EEEEEE;
    border: #EEEEEE solid 1px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.deleteTask:hover {
    background-color: #980303;
    color: #d7f3f4;
    
}