
.ApproveButton {
    width: 170px;
    height: 40px;
    background-color: #222831;
    color: #EEEEEE;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.1s;
}

.ApproveButton:hover {
    transform: scale(105%);
    background-color: #393E46;
    color: #cceef0;
    transition: 0.1s;

}