.SBtask-main {
    width: 84%;
    border: 1px solid rgb(147, 147, 147);
    margin: auto;
    border-radius: 10px;
    margin-top: 1rem;
}
/* :nth-of-type(even) */
.SBtask-main .SBtask-task-main {
    background: #f5f5f5;
}