.Addtask-main {
    margin: 1rem;
}

.Addtask-main h3 {
    text-align: center;
}

.Addtask {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.Addtask textarea {
    resize: none;

}

.Addtask-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.Addtask-button {
    text-align: right;
}

.Addtask-button button {
    background-color: aqua;
    width: 30%;
    height: 2.5rem;
}

.addtask-button {
    width: 150px;
    height: 40px;
    background-color: #222831;
    color: #EEEEEE;
    border: #EEEEEE solid 1px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 20px;
    font-weight: bold;
}

.addtask-button:hover {
    background-color: #393E46;
    color: #00ADB5;
    border: #EEEEEE solid 1px;
    border-radius: 15px;
}