.profile-main {
    border: 1px gray solid;
    border-radius: 20px;
    width: 70%;
    margin: auto;
    height: 100vh;
    margin-top: 2rem;
}

.profile-header {
    display: grid;
    /* width: 80%; */
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 3rem;
}

.profile-grid2 {
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
}
.test{
    float:right;
}