.admin-main {
    display: grid;
    grid-template-columns: 10% 90%;
}

.admin-right h1{
    text-align: center;
}

#adminRightHeader {
    color:#EEEEEE;
    padding: 20px;
    background-color: #00ADB5;
}