.anav-container {
  height: 100vh;

}

.side-nav,
.nav-menu {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  font-weight: bold;
}

.side-nav .nav-menu {
  list-style: none;
  padding: 40px 0;
  width: 26%;
  /*changes from 200px to 26%*/
  background-color: #00ADB5;
}

.side-nav .nav-item {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px black solid;
  padding: 15px;
  color:#222831;
}

.nav-item.active {
  background-color: #fff;
  box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}

.nav-item:hover {
  background-color: #222831;
  cursor: pointer;
  color: #fff;
}

.nav-item.active a {
  color: #2980b9;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;

}

.menu-text {
  padding: 0 20px;
}

.side-nav .nav-item.active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 150%;
  width: 20px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 20px 0 0 #fff;
}

.side-nav .nav-item.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 100%;
  right: 0;
  height: 150%;
  width: 20px;
  border-top-right-radius: 25px;
  box-shadow: 0 -20px 0 0 #fff;
}